<div class="navbar-flex">
  <img
    src="https://peelerstickers.com.au/cdn/shop/products/ES0006_LetsGetMarried_grande.jpg?v=1641896628"
  />
  <a matButton href="https://www.google.com/" target="_blank">
    <mat-icon fontIcon="home"></mat-icon>
    Pulpit
  </a>
  <a matButton href="https://www.google.com/" target="_blank">
    <mat-icon fontIcon="wallet"></mat-icon>
    Budżet
  </a>
  <a matButton href="https://www.google.com/" target="_blank">
    <mat-icon fontIcon="list"></mat-icon>
    TODO
  </a>
  <a matButton href="https://www.google.com/" target="_blank">
    <mat-icon fontIcon="calendar_month"></mat-icon>
    Kalendarz
  </a>
  <a matButton href="https://www.google.com/" target="_blank">
    <mat-icon fontIcon="note_stack"></mat-icon>
    Notatki
  </a>
  <a matButton href="https://www.google.com/" target="_blank">
    <mat-icon fontIcon="group"></mat-icon>
    Goście
  </a>
  <a matButton href="https://www.google.com/" target="_blank">
    <mat-icon fontIcon="person"></mat-icon>
    Usługodawcy
  </a>
  <a matButton href="https://www.google.com/" target="_blank">
    <mat-icon fontIcon="notifications"></mat-icon>
    Przypomnienia
  </a>
  <a matButton href="https://www.google.com/" target="_blank">
    <mat-icon fontIcon="settings">settings</mat-icon>
    Ustawienia
  </a>
</div>
