<nav class="navbar-flex">
  <img
    src="https://peelerstickers.com.au/cdn/shop/products/ES0006_LetsGetMarried_grande.jpg?v=1641896628"
  />
  <a matButton [routerLink]="'/'">
    <mat-icon fontIcon="home"></mat-icon>
    Pulpit
  </a>
  <a matButton [routerLink]="'/budget'">
    <mat-icon fontIcon="wallet"></mat-icon>
    Budżet
  </a>
  <a matButton [routerLink]="'/notes'">
    <mat-icon fontIcon="note_stack"></mat-icon>
    Notatki
  </a>
  <a matButton [routerLink]="'/guests'">
    <mat-icon fontIcon="group"></mat-icon>
    Goście
  </a>
  <a matButton [routerLink]="'/service-providers'">
    <mat-icon fontIcon="person"></mat-icon>
    Usługodawcy
  </a>
  <a matButton [routerLink]="'/notifications'">
    <mat-icon fontIcon="notifications"></mat-icon>
    Przypomnienia
  </a>
  <a matButton [routerLink]="'/settings'">
    <mat-icon fontIcon="settings">settings</mat-icon>
    Ustawienia
  </a>
</nav>
